#bg-img{
    padding-top: 50px;
    width: 100%;
    height: 800px;
    background: url("../img/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
}

#bg-img > .line{
    margin-top: 1%;
    background-color: #f1f1f1;
    width: 20%;
    height: .1em;
}

/**********************TOURISME*************************/

#presentation{
    width: 100%;
    height: 500px;
    /* position: absolute; */
    /* border: solid black 1px; */
}

#presentation > img{
    height: 100%;
    width: 120%;
    transform: rotate(6deg) translateY(-20%) translateX(-10%);
}

#presentation > div{
    /* border: solid red 2px; */
    bottom: 115%;
    position: relative;
}

#presentation > div > p{
    text-align: center;
    margin-top: 1em;
}

/*@media < 1200*/
    