@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

*, ::after, ::before{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
  overflow-x: hidden;
}

body{
    font-family: 'Advent Pro', sans-serif;
}

header{
    position: fixed;
    background-color: rgb(102, 199, 255);
    height: 60px;
    width: 100%;
    opacity: .85;
    z-index: 10;
}

#bg-img h1, #tourisme h2{
  font-family: 'Oooh Baby', cursive;
}

nav{
    position: relative;
}

#bonhomme img{
  width: 3em;
  height: 3em;
  margin-top: 0.3em;
}

#bonhomme{
  /*border: 2px red solid;*/
  position: relative;
  bottom: 50%;
  right: 1%;
  padding: auto 0;
}

nav img{
    background-image: url("../img/icon.png");
    width: 5em;
    height: 5em;
    margin-top: -0.5em;
    float: left;
    /* border: 2px black solid;
    border-radius: 50px; */
}

nav ul {
    display: flex;
    position: relative;
    /*margin-top: 0.1em;*/
    
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -15%);*/
    border: auto;
}

nav ul li{
    list-style-type: none;
    border: 0px black solid;
    transition: all 0.2s ease-in-out;
    text-align: center;
    padding: 0px 0%;
    width: 20%;
    
}

/*nav ul li:hover{
  background-color: #0ca764 ;
}*/


nav ul li:hover > .line {
  /*visibility: visible;*/
  background-color: #4fa23b;
}

nav ul li a{
    text-decoration: none;
    font-size: x-large;
    padding-top: .5em;
    display: block;
    color: #333;
    white-space: nowrap;
}

#bg-img{
    /* margin-top: 25px; */
    padding-top: 50px;
    width: 100%;
    height: 800px;
    background: url("../img/bg.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
}

#bg-img h1{
    margin-top: 60px;
    font-size: 6em;
    /* font-family: 'Cinzel Decorative', cursive; */
    text-align: center;
    color: #f1f1f1;
}

.line{
    /* margin-top: 1000px; */
    height: 0.4em;
    width: 30%;
    margin: 0 auto;
    background-color: rgb(102, 199, 255);
    /*visibility : hidden;*/
    transition: all 0.2s ease-in-out;
}

/**********************TOURISME*************************/

#tourism{
    /* width: 200%;
    height: 700px;
    background: aliceblue;
    transform: rotate(7deg) translateX(-10%); */
}

.lean-box-right{
    width: 200%;
    height: 700px;
    background: aliceblue;
    transform: rotate(7deg) translateX(-10%);
}

.unlean-right{
    transform: rotate(-7deg) translateX(-17%);
}

#tourism h2{
  font-size: xx-large;
}

#tourism h2, #tourism p{
  text-align: center;
}

/*@media < 1200*/
    