*{
  color:  #f1f1f1;
}

#centrep{
  margin-inline: 10%;

}
.transparent{
  color: transparent;
}

body {
  background-color: #222e53;
}


h1 {
  margin-top: 0em;
  /* padding-block: 2em; */
  /* font-size: 4em; */
  
}
input {
   margin-block : auto;
    border-width: 1px;
}

input:invalid {
    color: red;
    border-color: red;
}

fieldset:hover {
  border:  rgba(102, 199, 255,0.9) 0.8em solid;
  border-radius: 0.5em;

}
fieldset{
  width: 50%;
  margin: 0 auto;
  transition: all 0.2s 0s ease-in-out;
}

.container >dl{
  display: flex;
  flex-direction:column;
}
section > p{
  margin-left: 1em;
  font-size: x-large;
}
 p{
  display: inline;
}
.contact{
  
   margin-top: 1em;
  margin-left: 1em;
  font-size: x-large;
}
dt{
  margin-left: 4em;
}
dd {
  position : relative;
  margin-left: 8em;
  margin-bottom: 1em;
}

input , textarea{
  
  margin-left: 6em;
  resize: none;
  border-radius: 0.5em;
}

.intitule{
  display: flex;
  flex-direction: column;
}

.intitule>div{
  display: flex;
  width: 100%;
  padding-block: 0.2em;
  margin-left: 1em;

}
#zip, input{
  color: black;
  height:1.8em ;
 
  
}
.intitule >div>div{
  /*border: solid red;*/
  width: 20em;

  
  
}
form{
  margin-bottom: 4em;
}
#submit {
  size: 2em;
  color: black;
  
 
}
#reset{
  color: black;
}

legend{
  margin: 0 auto;
  padding-inline: 0.8em;
}
hr{
  margin-bottom: 1em;
}

