#com-sondage p {
    margin: 1.5em 1.5em 3em;
    text-align: center;
    color: #f1f1f1;
}

body {
    background-color: #809AAC;
}

h1 {
    color: black;
}

.ligne {
    width: 75%;
    height: 1px;
    border-top: solid black 1px;
    margin: 1em auto 1em;
}

#resuGra{
    align-items: center;
}

.caseGraphe {
    border: 1px solid black ;
    width: 80%;
    height: 215px;
    margin: 5em auto 5em;
}

footer {
    margin-top: 10em;
}