#com-sondage p {
    margin: 1.5em 1.5em 3em;
}

h1 {
    color: black;
}


.boxsearch {
    width: 300px;
    position: relative;
    margin: 0 1.5em 1.5em;
}

.boxsearch input#search {
    width: 300px;
    height: 40px;
    border: 1px solid black;
    font-size: 10pt;
    padding-left: 45px;
}

.boxsearch .icon {
    position: absolute;
    padding-left: 17px;
    padding-top: 11px;
    z-index: 1;
}

.boxsearch:hover .icon {
    color: #66c7ff;
    transform: scale(1.5);
    transition: 0.4s ease;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#filtre {
    flex: 1 1 180px;
    border: 1px solid black;
    /* background: rgba(217, 217, 217, 1); */
    height: 360px;
    margin: calc(1.5em + 40px) 1.5em 1.5em;
    padding: 0.5em;
}

#filtre div {
    margin-left: 0.5em;
}

#choixright {
    flex: 4 1 calc(100vw - 180px - 6em);
}

#choix {
    padding: 0.5em;
    border: 1px solid black;
    margin: 1em 1.5em;
    height: 360px;
    max-width: 100%;
}

#filtre::-webkit-scrollbar, #choix::-webkit-scrollbar {
    display: none;
    /*scroll invisible Chrome Safari */
}

#filtre, #choix {
    scrollbar-width: none;
    /*scroll invisible firefox */
    -ms-overflow-style: none;
    /*scroll invisible IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}


#choix button {
    border: 1px solid black;
    background-color: white;
    margin: 0.5em;
    padding: 6px;
}

#choix button:hover {
    background-color: #66c7ff72;
}

#choixpres {
    margin: 2em 1em 0;
}

#resultat {
    height: 100px;
    border: 1px solid black;
    margin: 0 1.5em 0em;
}

#effacer {
    border-radius: 84px;
    padding: 3px 7px;
    background: rgba(229, 38, 38, 0.68);
    margin: 0.5em 1.5em 3em;
    box-shadow: 0 5px 0 #720c0a;
}

#effacer:hover {
    background: rgba(229, 38, 38, 0.777);
}

#effacer:active {
    box-shadow: 0 2px 0 #472924;
    transform: translateY(4px);
}

.ligne {
    width: 65%;
    height: 1px;
    border-top: solid black 1px;
    margin: 1em auto 1em;
}

#titreinfopers {
    font-family: 'Oooh Baby', cursive;
    text-align: center;
    margin-bottom: 0.5em;
}

#infopers {
    margin: auto;
    width: fit-content;
}

#infopers label {
    font-family: 'Cambay';
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    padding-left: 5px;
}

#infopers input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px 6px;
    outline-style: none;
}

#infopers input:focus {
    border-color: #66c7ff;
    caret-color: #66c7ff;
    color: #66c7ff;
}

#inputage {
    width: 3em;
    float: left;
}

#champo {
    font-size: x-small;
    float: right;
    padding: 0;
}

#env {
    font-weight: 700;
    float: right;
    margin: 0 5em 0 auto;
    border-radius: 84px;
    padding: 5px 20px;
    background: rgba(66, 197, 72, 0.79);
    box-shadow: 0 5px 0 #055528d4;
}

#env:hover {
    background: rgba(66, 197, 73, 0.921);
}

#env:active {
    box-shadow: 0 2px 0 #243c47;
    transform: translateY(4px);
}

footer {
    margin-top: 5em;
}