#com-sondage p {
    margin: 1.5em 1.5em 3em;
    color: #f1f1f1;
}

body {
    background-color: #809AAC;
}

h1 {
    color: black;
}

.fa-times:after {
    content: "\f00d";
}

.fa-times:before {
    content: "";
}

.boxsearch {
    width: 300px;
    position: relative;
    margin: 0 1.5em 1.5em;
}


.boxsearch input#search {
    width: 300px;
    height: 40px;
    /* border: 1px solid black; */
    font-size: 10pt;
    padding-left: 45px;
    /* border-radius: 15px; */
    /* background-color: rgb(217, 217, 217); */
    border: none;
    background-color: #D9D9D9;
}

.boxsearch input#search:placeholder-shown {
    font-style: italic;
    font-size: 1em;
}

.boxsearch .icon {
    position: absolute;
    padding-left: 17px;
    padding-top: 11px;
    z-index: 1;
}

.boxsearch:hover .icon {
    color: #66c7ff;
    transform: scale(1.5);
    padding-top: 8px;
    transition: 0.4s ease;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#filtre {
    flex: 1 1 180px;
    border: 1px solid black;
    /* background: rgba(217, 217, 217, 1); */
    height: 360px;
    margin: calc(1.5em + 40px) 1.5em 1.5em;
    padding: 0.5em;
    background-color: #D9D9D9;
    border: none;
}

#filtre legend {
    font-size: 2em;
}

#filtre div {
    margin-left: 0.5em;
    display: flex;
    /* justify-content:; */
    gap: 1em;
    margin: .5em;
}

/* #filtre input[type="checkbox"] {
    width: 2em;
    height: 2em;
} */

#filtre label {
    align-self: center;
}

#choixright {
    position: relative;
    flex: 4 1 calc(100vw - 180px - 6em);
}

#choix {
    align-items: flex-start;
    padding: 0.5em;
    border: 2px solid black;
    margin: 1em 1.5em;
    height: 360px;
    max-width: 100%;
    background-color: #FEFEFE;
    /* gap: 2vmin; */
    /* overflow:hidden; */
}

#choix::after {
    content: "";
    display: block;
    flex-grow: 10;
}

#filtre::-webkit-scrollbar,
#choix::-webkit-scrollbar {
    display: none;
    /*scroll invisible Chrome Safari */
}

#filtre,
#choix {
    scrollbar-width: none;
    /*scroll invisible firefox */
    -ms-overflow-style: none;
    /*scroll invisible IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
}


#choix li {
    border: 1px solid black;
    background-color: white;
    margin: 0.5em;
    padding: 6px;
    list-style-type: none;
    height: fit-content;
    flex-grow: 1;
}

#choix li:hover {
    background-color: #66c7ff72;
}

#choixpres {
    margin: 2em 1em 0;
}

#resultat {
    height: 100px;
    border: 2px solid black;
    margin: 0 1.5em 0em;
    transition: all 25ms 100ms ease-in-out;
}

#resultat:hover {
    border-color: #00ff00;
    border-width: 0.15em;
}

.ui-state-hover {
    border: #00ff00 0.15em solid !important;
}

.ui-state-hover2 {
    color: red;
}

.dropped-item {
    background-color: #00ff00;
    box-shadow: 2px 2px 5px #888888;
    font-size: 1.5em;
    margin: 0.5em;
}

#poubelle {
    font-size: 2em;
    position: absolute;
    top: 95%;
    right: 5%;
    transform: translate(-50%, -50%);
}

#effacer {
    border-radius: 84px;
    padding: 3px 7px;
    background: rgba(229, 38, 38, 0.68);
    margin: 0.5em 1.5em 3em;
    box-shadow: 0 5px 0 #720c0a;
}

#effacer:hover {
    background: rgba(229, 38, 38, 0.777);
}

#effacer:active {
    box-shadow: 0 2px 0 #472924;
    transform: translateY(4px);
}

.ligne {
    width: 65%;
    height: 1px;
    border-top: solid black 1px;
    margin: 1em auto 1em;
}

#titreinfopers {
    font-family: 'Oooh Baby', cursive;
    text-align: center;
    margin-bottom: 0.5em;
}

#infopers {
    margin: auto;
    width: fit-content;
}

#infopers label {
    font-family: 'Cambay';
    font-style: italic;
    font-weight: 700;
    /* font-size: 10px; */
    font-size: 1.25em;
    padding-left: 5px;
}

#infopers input {
    /* width: 10em; */
    border-radius: 20px;
    /* border: 1px solid black; */
    border-color: transparent;
    padding: 2px 6px;
    outline-style: none;
    font-size: 1em;
}

#infopers input:not(#inputage) {
    width: 25em;
    height: 3em;
}

#infopers input:focus {
    border-color: #66c7ff;
    caret-color: #66c7ff;
    color: #66c7ff;
}

#inputage {
    width: 10em;
    height: 3em;
    float: left;
}

#champo {
    font-size: medium;
    font-weight: bold;
    float: right;
    padding: 0;
}

#env {
    font-weight: 700;
    float: right;
    margin: 0 5em 0 auto;
    border-radius: 84px;
    padding: 5px 20px;
    background: rgba(66, 197, 72, 0.79);
    box-shadow: 0 5px 0 #055528d4;
}

#env:hover {
    background: rgba(66, 197, 73, 0.921);
}

#env:active {
    box-shadow: 0 2px 0 #243c47;
    transform: translateY(4px);
}

footer {
    margin-top: 5em;
}